@using System.Security.Claims
@inject Microsoft.AspNetCore.Identity.UserManager<TestMe.Models.User> UserManager

@{
    ViewData["Title"] = "Home Page";
    var userId = User.FindFirstValue(ClaimTypes.NameIdentifier);
    var user = await UserManager.FindByIdAsync(userId!);
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    @*<p>Userimiz: @user!.Email</p>*@
</div>

